<h1>Hi! <%= locals.user.name%></h1>
<ul>
<li>
    <h5>Register a Patient</h5>
    <a href="/api/v1/patients/registerForm">
        Register
    </a>
</li>
<li>
    <h5>Create Report</h5>
    <form action="/api/v1/patients/report" method="POST">
        <input type="text" name="phoneNumber" placeholder="Patent Phone Number" required/>
        <input type="submit" value="submit" placeholder="Submit" />
    </form>
</li>


<li>
    <h5>Get Covid Status</h5>
   
        <a href="/api/v1/reports/allStatus/Negative">  Negative </a>
        <br/>
        <a href="/api/v1/reports/allStatus/Travelled-Quarantine"> Travelled-Quarantine </a>
        <br/>
        <a href="/api/v1/reports/allStatus/Symptoms-Quarantine">    Symptoms-Quarantine </a>
        <br/>
        <a href="/api/v1/reports/allStatus/Positive-Admit"> Positive-Admit </a>
        <br/>
    </li>

</ul>