<h1>Hi Doc! signup to continue....</h1>
<form action="/api/v1/doctors/register" method="POST" >
    <input type="text" placeholder="Name" name="name" />
    <input type="email" placeholder="Email" name="email" />
    <input type="password" name="password" placeholder="Enter Password" />
    <input type="password" name="confirm_password" placeholder="Confirm Your Password" />
    <input type="submit" value="submit" placeholder="submit" />
</form>