<h1>Hi! Doc!</h1>
<p>
    Get Report for patient <%= pat.name%>
</p>
<ul>
    <li>
        <h5>Create Report</h5>
        <a href="/api/v1/patients/<%= pat._id>/create_report">
            Create Report
        </a>
    </li>
    <li>
        <h5>Get All Reports</h5>
        <a href="/api/v1/patients/<%= pat._id>/all_reports">
            Create Report
        </a>
    </li>
</ul>
