<h1>Hi! Doc!</h1>
<p>
    Get Report for patient "<%= pat.name %>"
</p>
<ul>
    <li>
        <h5>Create Report</h5>
        <a href="/api/v1/patients/create_report/<%= pat._id%>">
            Create Report
        </a>
    </li>
    <li>
        <h5>Get All Reports</h5>
        <a href="/api/v1/patients/all_reports/<%= pat._id%>">
            Get All Report
        </a>
    </li>
</ul>
