<h1>Hi Doc! </h1>
<h2>Fill in patient details to continue...</h2>
<form action="/api/v1/patients/register" method="POST" >
    <input type="text" placeholder="Name" name="name" />
    <input type="email" placeholder="email" name="email" />
    <input type="text" placeholder="phonenumber" name="phoneNumber" />
    <input type="submit" value="submit" placeholder="submit" />
</form>