<h1>Hi Doc! </h1>
<h2>Fill in patient details to continue...</h2>
<form action="/api/v1/patients/register" method="POST" >
    <input type="text" placeholder="Name" name="name" />
    <input type="email" placeholder="Email" name="email" />
    <input type="password" name="password" placeholder="Enter Password" />
    <input type="password" name="confirm_password" placeholder="Confirm Your Password" />
    <input type="submit" value="Submit" placeholder="submit" />
</form>